* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f2f2f2;
   
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 200px;
    
}
.card .card1,.card2,.card3 {
    width: auto ;
    background-color: #eee;
    height: AUTO; 
    padding: 50px;
}
.card .card1 {
    background-color: rgba(226, 133, 37);
}
.card .icon i {
    margin: 10px 25px;
   
}

.card .icon {
    font-size: 25px;
    color: #fcd477;
    background-color: #b46a1e;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
   
}
.card .head h2 {
    font-size: 30px;
    padding-top: 40px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;

}
.card .head p {
    color: #f3bc7d;
    padding-top: 40px;
    line-height: 22px;
    font-family: sans-serif;
}
.card .button  {
    margin: 50px 0px;
}
.card .button a{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 13px;
    border-radius: 20px;
    transition: .3s ease;
    font-weight: bold;
    font-family: sans-serif;
    
}

.card .button a:hover {
    transform: scale(1.1);
}
.card1 .button a {
    color: #b46a1e;  
}
.card2 .button a {
    color: #89abaf;;  
}
.card3 .button a {
    color: #45605d;  
}
.card .card2 {
    background-color: #016972;
}
.card2 .icon  {
   color: #2bb0bc;
   background-color:#00545a;
}
.card2 .head p {
    color: #47949e;
}

.card .card3 {
    background-color:#00403f;
}
.card3 .icon  {
   color: #20a68e;
   background-color:#033031;
}
.card3 .head p {
    color: #76a5a5;
}
