* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: hsl(0, 0%, 95%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-container {
  display: flex;
  max-width: 920px;
  border-radius: 10px;
  overflow: hidden;
}

.card {
  flex: 1;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Themes / Colors */
.card--sedan {
  background-color: hsl(31, 77%, 52%);
}

.card--suv {
  background-color: hsl(184, 100%, 22%);
}

.card--luxury {
  background-color: hsl(179, 100%, 13%);
}

.card h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5rem;
  color: hsl(0, 0%, 95%);
  margin: 35px 0 25px 0;
}

.card p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 80px;
}

.btn {
  display: inline-block;
  background-color: hsl(0, 0%, 95%);
  padding: 12px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 2px solid #f2f2f2;
}

.card--sedan .btn { color: hsl(31, 77%, 52%); }
.card--suv .btn { color: hsl(184, 100%, 22%); }
.card--luxury .btn { color: hsl(179, 100%, 13%); }

.btn:hover {
  background-color: transparent;
  color: #ffffff !important;
  border-color: #ffffff;
  cursor: pointer;
}
/* الدايرة الغامقة خلف السيارة */
.icon {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2); 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.icon i {
  font-size: 24px;
  color: #ffffff; 
}

@media (max-width: 768px) {
  body {
    padding: 40px 20px;
  }
  .card-container {
    display:flex:
    flex-direction: column;
    align-items: center;
    max-width: 327px;
    width: 100%;
    margin: 0 auto;
  }
  .card {
    width: 100%;
    padding: 32px 24px;
    box-sizing: border-box;
  }
  .card p {
    margin-bottom: 40px;
  }
}
